.github
.vscode
data
dist
docs
examples
libs
tests

.act_secrets_template
.dockerignore
.gitattributes
.gitignore
.pylintrc
.settings.io_aero_template.toml
Dockerfile
environment_dev.yml
LICENSE.md
Makefile
README.md
run_io_template_app_prod.*
run_io_template_app_pytest.*
setup.cfg
user_guide.*
