*.bak
.coverage
.history/
.idea/
.mypy_cache/
.pytest_cache/
.settings.io_aero.toml
/.act_secrets
/.temp/
/__MACOSX/
/app-*
/build/
/data/*_postgres.zip
/data/postgres/
/data/postgres_test/
/dist/iotemplateapp.exe
/dist/linux/
/dist/macos/
/dist/windows/
/docs/build/doctrees/
/docs/build/pdf/.doctrees
/docs/build/pdf/manual.rtc
/docs/build/pdf/manual.stylelog
/temp/
Pipfile.lock
__pycache__
coverage.lcov
iotemplateapp.egg-info/
logging_*.log
resources/Gammadyne/timer.txt
run_*.log
